*.elc
*~
custom.el
elpa
history
ido.last
local.*
network-security.data
projectile-bookmarks.*

# tangled from .org files
better-emacs-defaults.el
configure-emacs*.el
secret-data.el
# cask, emacs package builder
Cask
.cask
